.characterImageContainer {
  width: clamp(2rem, 4vmax, 4rem);
  height: clamp(2rem, 4vmax, 4rem);
  border: 3px double var(--text-color-normal);
  border-radius: 50%;
}

.characterImageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
