.gameScreen {
  display: grid;
  /* removing this will make the 'gameStateDisplay' expand to full width */
  place-items: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: clamp(4rem, 4vmax, 8rem);
}
