.gameStateDisplay {
  position: sticky;
  top: 4rem;
  left: 0;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding: clamp(0.4rem, 1vmax, 0.8rem);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid var(--border-color-transparent);
  border-radius: 10px;
}

.characterContainer {
  padding-right: 0.8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 0.6rem;
  border-right: 2px solid var(--border-color-transparent);
}

.characterImageContainer {
  width: clamp(2rem, 4vmax, 4rem);
  height: clamp(2rem, 4vmax, 4rem);
  border: 3px double var(--text-color-normal);
  border-radius: 50%;
}

.characterImageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.timer {
  padding-left: 0.8rem;
  font-size: clamp(1.4rem, 3vmax, 4rem);
}

/* to change image to b/w when the character is found */
.found {
  filter: grayscale(1);
}
