.modalWrapper {
  /* used 'fixed' to make it will span the full viewport regardless of the scrolling position */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 1rem;
  background-color: var(--bg-secondary-transparent);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}

.modal {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  font-size: 1.4rem;
  background-color: var(--bg-primary);
  text-align: center;
  border-radius: 6px;
}

input[type='text'] {
  display: block;
  width: 100%;
  padding: 6px;
  margin-top: 10px;
  color: var(--secondary);
  background-color: var(--bg-secondary);
  line-height: 2rem;
  font-size: clamp(1rem, 1.4vmax, 2rem);
  border-radius: 4px;
  border: none;
  outline: none;
}

input[type='text']:focus {
  border: 1px solid var(--border-color-transparent);
}

.modalBtns {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

#submitBtn {
  color: var(--color-text-dark);
  background-color: var(--color-bg-light);
}

@media screen and (max-width: 768px) {
  .modal {
    font-size: 1rem;
    border: 1px solid var(--border-color-transparent);
  }
}
