.title {
  margin-bottom: 4rem;
  font-size: clamp(3rem, 4vmax, 4rem);
  text-align: center;
}

.content {
  margin-top: 8rem;
  display: grid;
  gap: 2rem;
  font-size: clamp(1rem, 2vmax, 2rem);
}

.puzzleCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}
